{% extends 'base.html' %}

{% block content %}

<form action="" method="POST">
    <h1>Add a Story</h1>

    <div class="form-group">
        <label for="titleid"><h6>Title: </h6></label>
        <input type="text" name="title" id ="titleid" class="form-control" required>
    </div>
    
    <div class="form-group">
        <label for="summaryid"><h6>Summary: </h6></label>
        <textarea name="summary" id="summaryid" class="form-control" rows=8 required></textarea>
    </label> 
    </div>

    <div class="form-group">
    <label><h6>Genres:</h6><br>
        {% for g in genre %}
        <div class="form-check form-check-inline">
            <label for="genre{{ g['tid'] }}">{{ g['tname'] }}</label>
            <input type="checkbox" name="genre" id="genre{{ g['tid'] }}" value="{{ g['tid'] }}">
        </div>
        {% endfor %}
    </label>
    </div>

    <div class="form-group">
    <label><h6>Audience: </h6><br>
        {% for a in audience %}
        <div class="form-check form-check-inline">
            <label for="au{{ a['tid'] }}"> {{ a['tname'] }}</label>
            <input type="radio" name="audience" id="au{{ a['tid'] }}" value="{{ a['tid'] }}">
        </div>
        {% endfor %}
    </label>
    </div>

    <div class="form-group">
    <label><h6>Warnings: </h6><br>
        {% for w in warnings %}
        <div class="form-check form-check-inline">
        <label for="war{{ w['tid'] }}"> {{ w['tname'] }}</label>
        <input type="checkbox" name="warnings" id="war{{ w['tid'] }}" value="{{ w['tid'] }}">
        </div>
        {% endfor %}
    </label>
    </div>

    <div class="form-group">
    <label><h6>Status: </h6><br>
        {% for i in isFin %}
        <div class="form-check form-check-inline">
            <label for="stat{{ i['tid'] }}"> {{ i['tname'] }}</label>
            <input type="radio" name="isFin" id="stat{{ i['tid'] }}" value="{{ i['tid'] }}">
        </div>
        {% endfor %}
    </label>
    </div>

    <input type="submit" value="Submit" class="btn btn-info">
</form>

{% endblock %}