{% extends 'base.html' %}

{% block content %}

<form action="" method="POST">
    <label>Title: <input type="text" name="title" class="form-control"></label> 
    
    <div class="form-group">
    <label>Summary: <br>
        <textarea name="summary" class="form-control"></textarea>
    </label> 
    </div>

    <div class="form-group">
    <label>Genres: <br>
        {% for g in genre %}
        <div class="form-check form-check-inline">
            <label> {{ g['tname'] }}
                <input type="checkbox" name="genre" value="{{ g['tid'] }}">
            </label>
        </div>
        {% endfor %}
    </label>
    </div>

    <div class="form-group">
    <label>Audience: <br>
        {% for a in audience %}
        <div class="form-check form-check-inline">
            <label> {{ a['tname'] }}
                <input type="radio" name="audience" value="{{ a['tid'] }}">
            </label>
        </div>
        {% endfor %}
    </label>
    </div>

    <div class="form-group">
    <label>Warnings: <br>
        {% for w in warnings %}
        <div class="form-check form-check-inline">
        <label> {{ w['tname'] }}
            <input type="checkbox" name="warnings" value="{{ w['tid'] }}">
        </label>
        </div>
        {% endfor %}
    </label>
    </div>

    <div class="form-group">
    <label>Status: <br>
        {% for i in isFin %}
        <div class="form-check form-check-inline">
        <label> {{ i['tname'] }}
            <input type="radio" name="isFin" value="{{ i['tid'] }}">
        </label>
        </div>
        {% endfor %}
    </label>
    </div>

    <input type="submit" value="Submit" class="btn btn-info">
</form>

{% endblock %}