{% extends "base.html" %}
{% block head_stuff %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
{% endblock %}

{% block content %}

<div id="results">
        <h1>Bookmarks:</h1>
        <table id="res-list" class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th>Author</th>
            </tr>
        </thead>
        {% if res %}

        {% for result in res %}
            <tr work-sid="{{result['sid']}}">
                <td class="title"><a href="{{url_for('read', sid=result.sid)}}">{{result['title']}}</a></td>
                <td class="title">{{result['summary']}}</td>
                <td class="author"><a href="{{url_for('profile', username=result['username'])}}">{{result['username']}}</a></td>
            </tr>          
        {% endfor %}

        {% else %}
        <tr><td>No results found</td></tr>
        {% endif %}

        </table>

</div>
{%endblock%}