{% extends "base.html" %}


{% block content %}

<div id="results">
        <h1>Bookmarks:</h1>
        <table id="res-list" class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Summary</th>
                <th>Author</th>
            </tr>
        </thead>
        {% if res %}

        {% for result in res %}
            <tr work-sid="{{result['sid']}}">
                <td class="title"><a href="{{url_for('read', sid=result.sid)}}">{{result['title']}}</a></td>
                <td class="title">{{result['summary']}}</td>
                <td class="author"><a href="{{url_for('profile', username=result['username'])}}">{{result['username']}}</a></td>
            </tr>          
        {% endfor %}

        {% else %}
        <tr><td>No results found</td></tr>
        {% endif %}

        </table>

</div>
{%endblock%}