{% extends "base.html" %}

{% block content %}

<h1>{{username}}'s Profile</h1>

{% if currentUsername == username %}
<br>
<h5>My Preferences</h5> 

<div id=prefsBox>
    <form id="prefs" method="POST" action="{{url_for('profile', username=username)}}">
        <div class="form-group">
        <h6>Include: </h6>

            {% for tag in prefs %}
            <div class="form-check form-check-inline">
                <label for="tag{{tag['tid']}}">{{tag['tname']}}</label>
                <input type="checkbox" name="pref[]" value="{{tag['tid']}}" checked id="tag{{tag['tid']}}">
            </div>
            {% endfor %}
        
            {% for tag in otherTags %}
            <div class="form-check form-check-inline">
                <label for="tag{{tag['tid']}}">{{tag['tname']}}</label>
                <input type="checkbox" name="pref[]" value="{{tag['tid']}}" id="tag{{tag['tid']}}">
            </div>
            {% endfor %}
        </div>
        
    <input type="submit" name="submit-btn" value="Update Preferences" class="btn btn-secondary">
    </form>

    <form id="filts" method="POST" action="{{url_for('profile', username=username)}}">
        <div class="form-group">
        <h6>Exclude: </h6>

        {% for tag in warnings %}
        <div class="form-check form-check-inline">
            <label for="tag{{tag['tid']}}">{{tag['tname']}}</label>
            <input type="checkbox" name="warning[]" value="{{tag['tid']}}" id="tag{{tag['tid']}}" checked>
        </div>
        {% endfor %}

        {% for tag in otherWarns %}
        <div class="form-check form-check-inline">
            <label for="tag{{tag['tid']}}">{{tag['tname']}}</label>
            <input type="checkbox" name="warning[]" value="{{tag['tid']}}" id="tag{{tag['tid']}}">
        </div>        
        {% endfor %}
    </div>
    <input type="submit" name="submit-btn" value="Exclude Content" class="btn btn-secondary">
    </form>

</div>


<br><br>


<h5>Stories you've posted:</h5>
{% else %}
<h5>Stories by this user:</h5>
{% endif %}

{% for story in stories %}
<div class=story>
    <h5><a href="{{url_for('read', sid=story.sid)}}">{{story.title}}</a></h5>
    <p>{{story.summary}}</p>
</div>
<br>
{% endfor %}


{% endblock %}