{% extends "base.html" %}

{% block content %}

<h1>{{username}}'s Profile</h1>

{% if currentUsername == username %}
<br>

<button class="btn btn-info" type="button" data-toggle="collapse" data-target="#prefcollapse" aria-expanded="false" aria-controls="prefcollapse">
    Recommendation Preferences
</button>

<div class="prefsBox collapse" id="prefcollapse">
    <h5>My Preferences</h5> 
    <form id="prefs" method="POST" action="{{url_for('profile', username=username)}}">
        <div class="form-group">
        <h6>Include: </h6>

        {% for tag, checked in prefs %}
            {% if checked %}     
                <div class="form-check form-check-inline">
                    <label for="tag{{tag['tid']}}">{{tag['tname']}}</label>
                    <input type="checkbox" name="pref[]" value="{{tag['tid']}}" checked id="tag{{tag['tid']}}">
                </div>
            {% else %}
                <div class="form-check form-check-inline">
                    <label for="tag{{tag['tid']}}">{{tag['tname']}}</label>
                    <input type="checkbox" name="pref[]" value="{{tag['tid']}}" id="tag{{tag['tid']}}">
                </div>
            {% endif %}
        {% endfor %}
        </div>
        
    <input type="submit" name="submit-btn" value="Update Preferences" class="btn btn-secondary">
    </form>
<br>
    <form id="filts" method="POST" action="{{url_for('profile', username=username)}}">
        <div class="form-group">
        <h6>Exclude: </h6>

        {% for tag, checked in warnings %}
            {% if checked %}
                <div class="form-check form-check-inline">
                    <label for="tag{{tag['tid']}}">{{tag['tname']}}</label>
                    <input type="checkbox" name="warning[]" value="{{tag['tid']}}" id="tag{{tag['tid']}}" checked>
                </div>
            {% else %}
                <div class="form-check form-check-inline">
                    <label for="tag{{tag['tid']}}">{{tag['tname']}}</label>
                    <input type="checkbox" name="warning[]" value="{{tag['tid']}}" id="tag{{tag['tid']}}">
                </div>   
            {% endif %}     
        {% endfor %}
    </div>
    <input type="submit" name="submit-btn" value="Exclude Content" class="btn btn-secondary">
    </form>

</div>


<br><br>


<h5>Stories you've posted:</h5>
{% else %}
<h5>Stories by this user:</h5>
{% endif %}

{% for story in stories %}
<div class=story>
    <h5><a href="{{url_for('read', sid=story.sid)}}">{{story.title}}</a></h5>
    <p>{{story.summary}}</p>
</div>
<br>
{% endfor %}


{% endblock %}