#messages {
    color: green;
    font-style: italic;
}

h1 {
    font-size: 200%;
    color: rgb(0, 65, 0);
}

.row {
    padding-top: 5%;
}

.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#selTag {
    display: none;
}

#formtag {
    display: none;
}

.search_term {
    visibility: visible;
}

.comment {
    background-color: #EEEEEE;
    padding: 10px;
    border-radius: 5px;
}

.story {
    border-style: solid;
    border-color: #EEEEEE;
    border-width: 2px;
    padding: 10px;
}

a {
    color: green;
}

a:hover {
    color: rgb(0, 65, 0);
}
#prefsBox {
    background-color: #EEEEEE;
    padding: 10px;
}

.managestory {
    background-color: #EEEEEE;
    padding: 10px;
}

#tags {

}

.btn-secondary {
    background-color: #888888;
    border-color: #888888;
}

.btn-secondary:hover {
    background-color: #555555
}

.nav-item input {
    padding-left: 5px;
}

.btn-info {
    background-color: green;
    border-color: green;
}

.btn-info:hover {
    background-color: rgb(0, 65, 0);
}

.inline {
    padding-right: 5px;
}

#nextprev {
    margin: auto;
}