{% extends "base.html" %}

{% block content %}

<h1>{{username}}'s Profile</h1>

{% if currentUsername == username %}
<br>
<h5>Help us find stories that you will enjoy!</h5> 

<div id=prefsBox>
    <form id="prefs" method="POST" action="{{url_for('profile', username=username)}}">
    <label id="tags"><h6>I Like Stories About...</h6>

        {% for tag in prefs %}
        <input type="checkbox" name="pref[]" value="{{tag['tid']}}" checked> {{tag['tname']}}</input>
        <br>
        {% endfor %}
        {% for tag in allTags %}
        <input type="checkbox" name="pref[]" value="{{tag['tid']}}" > {{tag['tname']}}</input>
        <br>
        {% endfor %}
    </label>
    <br>
    <input type="submit" name="submit-btn" value="Submit Changes" class="btn btn-secondary">
    </form>
</div>
<br><br>
<h5>Stories you've posted:</h5>
{% else %}
<h5>Stories by this user:</h5>
{% endif %}

{% for story in stories %}
<div class=story>
    <h5><a href="{{url_for('read', sid=story.sid)}}">{{story.title}}</a></h5>
    <p>{{story.summary}}</p>
</div>
<br>
{% endfor %}
<!-- 
<div class="prefs">
    <a href="{{url_for('prefs', uid=uid)}}"> 
        <button>My Preferences</button>    
    </a>
</div> -->


{% endblock %}