{% extends 'base.html' %}

{% block content %}

<h1>{{title}}</h1>
<h5>By <a href="{{url_for('profile', username=author)}}">{{author}}</a></h5>

{{ story|safe }}

<!-- Make this into a form - need next chapter button, prev chap, chap index -->
<ul>
    {% for i in allch %}
        <li><a href="{{url_for('read', sid=i['sid'], cnum=i['cnum'])}}"><p>Read chapter {{i['cnum']}}</p></a></li>
    {% endfor %}
</ul>

<!-- Need to include a Next Chapter Button -->

<div id=existingComments>
    <h5>Comments you've left on this chapter before:</h5>
    <br><br>
    {% for comment in comments %}
        <div class=comment>
            <p>{{ comment.reviewText }}</p>
        </div>
        <br><br>
    {% endfor %}
</div>

{% if chapter.wip %}
    <form id="rateForm" method = "POST" action="{{url_for('rateAjax')}}">  
        <input class="rateSid" value={{sid}} name="sid" type=hidden>
        <input class="rateUid" value={{uid}} name="sid" type=hidden>

        <label id="rate1" class="rating"><div class=labelInput> &#9734;</div>
            <input class="ratingInput" type="radio" value=1 name="rating"> </label>
        <label id="rate2" class="rating"><div class=labelInput> &#9734;</div> 
            <input class="ratingInput" type="radio" value=2 name="rating"> </label>
        <label id="rate3" class="rating"><div class=labelInput> &#9734;</div>
            <input class="ratingInput" type="radio" value=3 name="rating"> </label>
        <label id="rate4" class="rating"><div class=labelInput> &#9734;</div>
            <input class="ratingInput" type="radio" value=4 name="rating">  </label>
        <label id="rate5" class="rating"><div class=labelInput> &#9734;</div>
            <input class="ratingInput" type="radio" value=5 name="rating"> </label>
        <!-- <input class="rate-button" type="submit" value="rate this"></input> -->

    <p id="avgCol"></p>
    </form>
{% endif %}

    <form id="commentForm" action="{{url_for('addComment')}}" method="POST">
        <label>Add a comment on this chapter</label>
            <textarea name="commentText" rows="8" class="form-control"></textarea>
            <br>
            <input value={{chapter.cid}} id="cid" name="cid" type=hidden>
            <input id="commentSubmit" type="submit" class="btn btn-info" value="Comment">
    </form>

    <p id="commentConfirmation">Comment submitted!</p>


<script>
    $("#commentConfirmation").hide()
    $("#avgCol").hide()
    $("input[type=radio].ratingInput").hide()
    var progressive_on = true;
    var RATEURL = "{{url_for('rateAjax')}}"    

    // $("input:radio.ratingInput").click(function() { 
    $("#rateForm").on("click", "input:radio.ratingInput", function(event) {
        // $(".rating").html(" &#9734;")
        console.log('adding rating with Ajax')
        //turn on ajax
        if (progressive_on) {
            rate = $(this).val();
            console.log(rate);
            // $(this).closest("form").find("#rate" + rate).text(" &#9733;");
            // console.log('looping')
            for (i = 1; i <= rate; i++) {
                // console.log(i)
                $("#rateForm").find("#rate" + i).find(".labelInput").html(' &#9733;');
            };
            // console.log('looping 2')
            for (i = 5; i > rate; i--) {
                // console.log(i)
                $("#rateForm").find("#rate" + i).find(".labelInput").html(' &#9734;');
            };
            // console.log('done looping')
            $("input:radio.ratingInput").hide()

            //update avg rating
            var sid = $(this).closest("form").find(".rateSid").val()
            var uid = $(this).closest("form").find(".rateUid").val()
            $.post(RATEURL, {'rating': rate,
                        'sid': sid,
                        'uid': uid}, showAvgRating)
            
        }
    });

    function showAvgRating(obj) {
        console.log(obj)
        $('#avgCol').text('Average rating: ' + obj.avgRating + '/5')
        $('#avgCol').show()
    }


</script>

<noscript>
    <p>Your browser doesn't support JavaScript.</p>
</noscript>

{% endblock %}