{%extends "base.html" %}

{% block content %}
<!-- <div id="featured-movie">
    <h3>Featured Movie: #<span id='tt'></span></h3>
    <h4>Title: <span id='title'></span> Directed By: <span id='director'></span> 
        Release: <span id='release'></span></h4>
</div> -->
<div id="results">
        <h1>Search Results for {{resKind}}: '{{term}}' </h1>
        <table id="res-list">
            <tr>
	      {% if resKind=="Works" %}
                <th>Title</th>
                <th>Author</th>
                <th>Chapter Count </th>
                <th>Date Updated </th>
	      {% else %}
		<th>Author Username</th>
	      {% endif %}
            </tr>
        {%for result in res %}
        {% if resKind=="Works" %}
            {% if result and result['sid'] %}   
            <tr work-sid="{{result['sid']}}">
                <td class="title"><a href="{{url_for('read', sid=result.sid)}}">{{result['title']}}</a></td>
                <td class="author">{{result['username']}}</td>
                <td class="chapter-cnt">{{result['count(sid)']}}</td>
                <td class="updated">{{result['updated']}}</td>
            </tr> 
            {% else %}
            <tr><td>No results found</td></tr>
            {% endif %} 
	    {% else %}
	        <tr uid="{{result['uid']}}">
	            <td class="uname">{{result['username']}}</td>
	        </tr>
        {% endif %}
        
        {%endfor%}
	    

        </table>

</div>

<div id="filters">
    <h2>Don't Show Me Works Involving:</h2>
    <form id="filter-frm" method="POST" action="{{request.url}}">
        {% for warning in warnings %}
        <br>
        <input type="checkbox" name="warnings[]" value="{{warning['tid']}}"> {{warning['tname']}}</input>
        {% endfor %}
        <input type="submit" name="submit-btn" value="Exclude">
    </form>
</div>

{%endblock%}
