{% extends 'base.html' %}

{% block content %}
<body>

    {% for i in allch %}
        <p><a href="{{url_for('update', sid=i['sid'], cnum=i['cnum'])}}">Edit chapter {{i['cnum']}}</a></p>
        {% if loop.last %}
            <a href="{{url_for('update', sid=i['sid'], cnum=(i['cnum']+1))}}"><button class="btn btn-info">Add Chapter {{i['cnum']+1}}</button></a></li>
        {% endif %}
    {% endfor %}
    <br><br>
            
    <form action="" method="POST">
        <textarea id="tinytext" name="write"></textarea>
        <br>
        <input type="submit" name="submit" class="btn btn-info">
    </form>
    <br>
    

    <script>
        story = `{{story|safe}}`
        console.log(story)
    </script>

    <script src="{{ url_for('static', filename='tinyeditor.js') }}" defer></script>

</body>
{% endblock %}
