<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{%block search%}
    <div id="search">
        <form method="POST" action="{{url_for('index')}}">
            <label for="search_term">Search Works: </label>
            <input name="search_term" value="">
            <input type="submit" name="submit-btn" value="Search">
        </form>
    </div>
{% endblock %}


{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}
            
{% block content %}
<h1>Welcome!</h1>
{% endblock %}

</body>
</html>
