{% extends 'base.html %}

{% block content %}

{% if stories %}

    {% for story in stories%}
    <div class="managestory">
        <a href= "{{ url_for('update', sid=story['sid']) }}">
            <p>Title: {{ story['title'] }} </p>
            <p>Summary: {{ story['summary'] }} </p>
            <p>Genre: {{ story['genre'] }} </p>
            <p>Audience: {{ story['audience'] }} </p>
            <p>Warnings: {{ story['warnings'] }} </p>
            <p>Stars: {{ story['stars'] }} </p>
        </a>
    </div>    
    {% endfor %}

{% endif %}

<a href= "{{ url_for('add') }}"><p>Add a story!</p></a>

{% endblock %}